.card {
  width: 400px;
  height: 300px;
  border: 1px solid rgba(150, 150, 150, 0.2);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1), transparent);
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  margin: 50px auto;
  text-align: center;
  line-height: 400px;
  box-shadow: inset 5px 5px 20px rgba(255, 255, 255, 0.1);
}

.shine {
  width: 1000px;
  height: 100px;
  margin-left: -100px;
  transform: rotate(30deg);
  background: -webkit-linear-gradient(top, transparent, rgba(200, 200, 200, 0.1), transparent);
  position: absolute;
  -webkit-animation: shine 6s ease-in-out infinite;
}

@-webkit-keyframes shine {
  0%,100% {
    margin-top: -100px;
  }
  50% {
    margin-top: 800px;
  }
}
.shadow {
  width: 275px;
  height: 5px;
  background: rgba(50, 50, 50, 0.1);
  margin: -15px auto 0 auto;
  box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.1);
  -webkit-animation: angle 6s ease-in-out infinite;
}

@-webkit-keyframes angle {
  0%,100% {
    height: 5px;
  }
  50% {
    height: 15px;
    width: 260px;
    border-radius: 30% 90% 90% 30%;
    transform: skew(50deg, -10deg) translateX(13px);
  }
}
